.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 60%;
  margin: auto;
  .title-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
  }
  .number {
    padding: 20px;
    text-align: right;
    min-width: 100%;
  }
  .calc-buttons-wrapper {
    min-width: 100%;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .calc {
      margin: 10px 5px;
      padding: 10px 30px;
      border-radius: 10px;
      font-size: 2em;
    }
    .calc.del {
      padding: 10px 15px;
      border-radius: 10px;
      font-size: 1.2em;
      font-weight: 600;
    }
  }
  .row-submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .calc {
      margin: 10px 5px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.2em;
    }
  }
}
